cold-email-system/Backfill Sheets to Supabase.json
{
  "name": "Backfill Sheets to Supabase",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8",
          "mode": "list",
          "cachedResultName": "3547 Leads - Ohio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ohio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1552,
        1376
      ],
      "id": "fdecf68f-bb18-46b8-ba02-616e8cd586ed",
      "name": "Read All Rows from Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2EUpgH0WFkM3Lr6E",
          "name": "Nishchith Sheets account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1776,
        1376
      ],
      "id": "3a15d9a2-ae81-4ba0-ac4c-8572adda98ad",
      "name": "Process in Batches1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_ohio",
          "mode": "list",
          "cachedResultName": "leads_ohio"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_address": "={{ $json.email_address }}",
            "research_report": "={{ $json.research_report }}",
            "email_1_subject": "={{ $json.email_1_subject }}",
            "email_1_body": "={{ $json.email_1_body }}",
            "email_2_body": "={{ $json.email_2_body }}",
            "email_3_subject": "={{ $json.email_3_subject }}",
            "email_3_body": "={{ $json.email_3_body }}",
            "sender_email": "={{ $json.sender_email }}",
            "message_id": "={{ $json.message_id }}",
            "token": "={{ $json.token }}",
            "email_prep": "={{ $json.email_prep ? ($json.email_prep === 'Yes') : null }}",
            "email_1_sent": "={{ $json.email_1_sent ? ($json.email_1_sent === 'Yes') : null }}",
            "email_2_sent": "={{ $json.email_2_sent ? ($json.email_2_sent === 'Yes') : null }}",
            "email_3_sent": "={{ $json.email_3_sent ? ($json.email_3_sent === 'Yes') : null }}",
            "replied": "={{ $json.replied ? ($json.replied === 'Yes') : null }}",
            "opted_out": "={{ $json.opted_out ? ($json.opted_out === 'Yes') : null }}",
            "report_sent": "={{ $json.report_sent ? ($json.report_sent === 'Yes') : null }}",
            "analyze": "={{ $json.analyze ? ($json.analyze === 'Yes') : null }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "linkedin_url": "={{ $json.linkedin_url }}",
            "full_name": "={{ $json.full_name }}",
            "position": "={{ $json.position }}",
            "city": "={{ $json.city }}",
            "founded_year": "={{ $json.founded_year }}",
            "state": "={{ $json.state }}",
            "country": "={{ $json.country }}",
            "industry": "={{ $json.industry }}",
            "organization_name": "={{ $json.organization_name }}",
            "organization_website": "={{ $json.organization_website }}",
            "organization_description": "={{ $json.organization_description }}",
            "organization_size": "={{ $json.organization_size }}",
            "organization_city": "={{ $json.organization_city }}",
            "organization_state": "={{ $json.organization_state }}",
            "organization_country": "={{ $json.organization_country }}",
            "organization_linkedin_url": "={{ $json.organization_linkedin_url }}",
            "organization_specialities": "={{ $json.organization_specialities }}"
          },
          "matchingColumns": [
            "email_address"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email_address",
              "displayName": "email_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_city",
              "displayName": "organization_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_country",
              "displayName": "organization_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_description",
              "displayName": "organization_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "founded_year",
              "displayName": "founded_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_linkedin_url",
              "displayName": "organization_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_size",
              "displayName": "organization_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_specialities",
              "displayName": "organization_specialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_state",
              "displayName": "organization_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "organization_website",
              "displayName": "organization_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "analyze",
              "displayName": "analyze",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "research_report",
              "displayName": "research_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_subject",
              "displayName": "email_1_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_body",
              "displayName": "email_1_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_2_body",
              "displayName": "email_2_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_subject",
              "displayName": "email_3_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_body",
              "displayName": "email_3_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_sent",
              "displayName": "email_1_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_2_sent",
              "displayName": "email_2_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_sent",
              "displayName": "email_3_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_prep",
              "displayName": "email_prep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "report_sent",
              "displayName": "report_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "email_norm",
              "displayName": "email_norm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        1392
      ],
      "id": "02afbc97-8aa3-4e3c-8507-5961a30f6bc7",
      "name": "Upsert to Supabase1",
      "credentials": {
        "postgres": {
          "id": "QKb5WqKXZ29v15Qk",
          "name": "Leads Ohio"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2192,
        1392
      ],
      "id": "82058941-421b-48fa-a13a-5e52b82bcd44",
      "name": "Rate Limit (0.5s)1",
      "webhookId": "backfill-rate-limit"
    },
    {
      "parameters": {
        "content": "## Backfill Google Sheets → Supabase\n\nThis workflow migrates all lead data from Google Sheets to Supabase PostgreSQL.\n\n### How it works:\n1. Reads ALL rows from your Google Sheet\n2. Processes one row at a time\n3. Upserts to `leads_ohio` table using email as unique key\n4. Converts \"Yes\"/\"No\" text to boolean automatically\n\n### Boolean conversion:\n```\n\"Yes\" → true\n\"No\" or empty → false\n```\n\n### Instructions:\n1. Make sure your Supabase table has UNIQUE constraint on email_address\n2. Run this workflow ONCE manually\n3. Check results in Supabase\n4. Disable after running - this is one-time migration\n\n### After migration:\n- Dashboard reads from Supabase (fast!)\n- Google Sheets still gets updates via n8n (for client)\n- Set up dual-write in your email workflows",
        "height": 520,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        1072
      ],
      "typeVersion": 1,
      "id": "89749c90-41a4-45e7-9a57-3dfb9075bdb1",
      "name": "Instructions1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1344,
        1376
      ],
      "id": "61b96a6c-0db8-4f96-9386-33f30c646f02",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Read All Rows from Sheets1": {
      "main": [
        [
          {
            "node": "Process in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process in Batches1": {
      "main": [
        [],
        [
          {
            "node": "Upsert to Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase1": {
      "main": [
        [
          {
            "node": "Rate Limit (0.5s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit (0.5s)1": {
      "main": [
        [
          {
            "node": "Process in Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read All Rows from Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d373c189-0202-4351-9306-7b5881453f66",
  "meta": {
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "CJOW07NMkknwRCVz",
  "tags": []
}