cold-email-system/Research Report.json
{
  "name": "Research Report",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: Initialize cost accumulator\n// Research Report Workflow\n// ============================================\n\n// Initialize cost array for this execution\nconst costEvents = [];\n\n// Store in item for passing through workflow\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n  item.json._workflow_type = 'Research';\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4768,
        720
      ],
      "id": "21eacbab-59d0-4bb2-9640-37dcb99a0a06",
      "name": "💰 Init Cost Tracking"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: Relevance AI - Research (100% ACCURATE)\n// ============================================\n\nconst PLAN = 'pro';\nconst PLAN_CONFIG = {\n  'free':  { credit_price: 0 },\n  'pro':   { credit_price: 0.0029 },\n  'team':  { credit_price: 0.00997 }\n};\n\nconst plan = PLAN_CONFIG[PLAN];\n\n// Get lead info from the sheet\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nlet actualCredits = 0;\nlet creditsBreakdown = [];\nlet dataSource = 'estimate';\nlet runStatus = 'unknown';\n\ntry {\n  const historyResponse = $('Fetch Relevance AI Run History').first().json;\n  \n  if (historyResponse.results && historyResponse.results.length > 0) {\n    const creditRun = historyResponse.results.find(r => r.type === 'credit' && r.status === 'complete');\n    const latestRun = creditRun || historyResponse.results[0];\n    \n    runStatus = latestRun.status;\n    \n    if (latestRun.cost !== undefined && latestRun.cost !== null) {\n      actualCredits = latestRun.cost;\n      dataSource = 'api_exact';\n    }\n    \n    if (latestRun.credits_used && Array.isArray(latestRun.credits_used)) {\n      creditsBreakdown = latestRun.credits_used.map(c => ({\n        name: c.name || 'unknown',\n        credits: c.credits || 0\n      }));\n    }\n  }\n} catch(e) {\n  dataSource = 'estimate_api_error';\n  actualCredits = 5;\n}\n\nlet cost_usd = PLAN === 'free' ? 0 : actualCredits * plan.credit_price;\n\nlet costEvents = $('💰 Init Cost Tracking').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'relevance_ai',\n  model: 'linkedin_research_tool',\n  tokens_in: 0,\n  tokens_out: 0,\n  cost_usd: Math.round(cost_usd * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'linkedin_scraping_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    plan: PLAN,\n    credits_used: actualCredits,\n    credits_breakdown: creditsBreakdown,\n    data_source: dataSource,\n    run_status: runStatus,\n    credit_price: plan.credit_price,\n    tracking_method: '100%_accurate_api'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4096,
        720
      ],
      "id": "21bf624e-ca21-44c7-94cd-69c61bbe01c6",
      "name": "💰 Track Relevance AI - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: Google Custom Search - Research\n// Pricing: $5 per 1,000 queries = $0.005/query\n// ============================================\nconst COST_PER_QUERY = 0.005;\n\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nlet costEvents = $('💰 Track Relevance AI - Research').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'google',\n  model: 'custom_search_api',\n  tokens_in: 0,\n  tokens_out: 0,\n  cost_usd: COST_PER_QUERY,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'company_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    pricing_model: 'fixed_per_query',\n    queries_made: 1\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2992,
        592
      ],
      "id": "c5ac3ddd-e90f-43ab-aee8-0198c2e89579",
      "name": "💰 Track Google CSE - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: OpenAI o3-mini (Summarize) - Research\n// 100% ACCURATE: Uses actual token counts from API\n// Pricing: $1.10/1M input, $4.40/1M output\n// ============================================\nconst PRICING = { input: 1.10, output: 4.40 };\n\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nconst openaiResponse = $('Summarize (O3-mini)1').first().json;\n\nconst usage = openaiResponse.usage || {};\nconst inputTokens = usage.prompt_tokens || usage.input_tokens || 0;\nconst outputTokens = usage.completion_tokens || usage.output_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\nconst dataSource = (inputTokens > 0 || outputTokens > 0) ? 'api_exact' : 'estimate';\nconst cost = (inputTokens * PRICING.input / 1000000) + (outputTokens * PRICING.output / 1000000);\n\nlet costEvents = $('💰 Track Google CSE - Research').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'openai',\n  model: openaiResponse.model || 'o3-mini',\n  tokens_in: inputTokens,\n  tokens_out: outputTokens,\n  cost_usd: Math.round(cost * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'company_summarization_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    total_tokens: totalTokens,\n    data_source: dataSource,\n    tracking_method: dataSource === 'api_exact' ? '100%_accurate_api' : 'estimate'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        592
      ],
      "id": "aad5ccf2-38e9-497b-964b-5692bf0004f1",
      "name": "💰 Track Summarize Cost - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: Apify Google Reviews - Research\n// ============================================\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nconst apifyResponse = $('Google Reviews (1-3)').first().json;\n\nconst reviews = apifyResponse.reviews || apifyResponse.reviewsAll || [];\nconst reviewCount = Array.isArray(reviews) ? reviews.length : (Array.isArray(apifyResponse) ? apifyResponse.length : 0);\n\nconst BASE_COST_PER_PLACE = 0.0005;\nconst COST_PER_REVIEW = 0.001;\nconst cost = BASE_COST_PER_PLACE + (reviewCount * COST_PER_REVIEW);\n\nlet costEvents = $('💰 Track Summarize Cost - Research').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'apify',\n  model: 'google-maps-reviews-scraper',\n  tokens_in: 0,\n  tokens_out: 0,\n  cost_usd: Math.round(cost * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'reviews_scraping_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    reviews_scraped: reviewCount,\n    base_cost: BASE_COST_PER_PLACE,\n    per_review_cost: COST_PER_REVIEW,\n    pricing_model: 'compute_units_estimate'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2512,
        800
      ],
      "id": "01b40b82-789c-4ae6-b5dd-47fad08970c2",
      "name": "💰 Track Apify Cost - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: OpenAI GPT-4o (Person Profile) - Research\n// 100% ACCURATE: Uses actual token counts from API\n// Pricing: $2.50/1M input, $10.00/1M output (GPT-4o)\n// ============================================\nconst PRICING = { input: 2.50, output: 10.00 };\n\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nconst openaiResponse = $('Person + Company Profile1').first().json;\n\nconst usage = openaiResponse.usage || {};\nconst inputTokens = usage.prompt_tokens || usage.input_tokens || 0;\nconst outputTokens = usage.completion_tokens || usage.output_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\nconst dataSource = (inputTokens > 0 || outputTokens > 0) ? 'api_exact' : 'estimate';\nconst cost = (inputTokens * PRICING.input / 1000000) + (outputTokens * PRICING.output / 1000000);\n\nlet costEvents;\ntry {\n  costEvents = $('💰 Track Apify Cost - Research').first().json._cost_events || [];\n} catch(e) {\n  costEvents = $('💰 Track Summarize Cost - Research').first().json._cost_events || [];\n}\n\ncostEvents.push({\n  provider: 'openai',\n  model: openaiResponse.model || 'gpt-4o',\n  tokens_in: inputTokens,\n  tokens_out: outputTokens,\n  cost_usd: Math.round(cost * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'person_profile_analysis_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    total_tokens: totalTokens,\n    data_source: dataSource,\n    tracking_method: dataSource === 'api_exact' ? '100%_accurate_api' : 'estimate'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        720
      ],
      "id": "9466ec92-9662-460d-9380-a6b99bb1b81a",
      "name": "💰 Track Person Profile - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: OpenAI GPT-4o (Similarities) - Research\n// 100% ACCURATE: Uses actual token counts from API\n// ============================================\nconst PRICING = { input: 2.50, output: 10.00 };\n\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nconst openaiResponse = $('Similarities1').first().json;\n\nconst usage = openaiResponse.usage || {};\nconst inputTokens = usage.prompt_tokens || usage.input_tokens || 0;\nconst outputTokens = usage.completion_tokens || usage.output_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\nconst dataSource = (inputTokens > 0 || outputTokens > 0) ? 'api_exact' : 'estimate';\nconst cost = (inputTokens * PRICING.input / 1000000) + (outputTokens * PRICING.output / 1000000);\n\nlet costEvents = $('💰 Track Person Profile - Research').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'openai',\n  model: openaiResponse.model || 'gpt-4o',\n  tokens_in: inputTokens,\n  tokens_out: outputTokens,\n  cost_usd: Math.round(cost * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'similarities_analysis_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    total_tokens: totalTokens,\n    data_source: dataSource,\n    tracking_method: dataSource === 'api_exact' ? '100%_accurate_api' : 'estimate'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        720
      ],
      "id": "f3b9d003-b2d5-4491-88ab-d5f335d79ff8",
      "name": "💰 Track Similarities - Research"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// COST TRACKING: OpenAI GPT-4o (Pain Points) - Research\n// 100% ACCURATE: Uses actual token counts from API\n// ============================================\nconst PRICING = { input: 2.50, output: 10.00 };\n\nconst leadData = $('Get Research Report').first().json;\nconst leadEmail = leadData['email_address'] || leadData['email'] || 'unknown';\nconst campaignName = leadData['state'] || 'Research';\n\nconst openaiResponse = $('Pain Points + Solutions1').first().json;\n\nconst usage = openaiResponse.usage || {};\nconst inputTokens = usage.prompt_tokens || usage.input_tokens || 0;\nconst outputTokens = usage.completion_tokens || usage.output_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\nconst dataSource = (inputTokens > 0 || outputTokens > 0) ? 'api_exact' : 'estimate';\nconst cost = (inputTokens * PRICING.input / 1000000) + (outputTokens * PRICING.output / 1000000);\n\nlet costEvents = $('💰 Track Similarities - Research').first().json._cost_events || [];\n\ncostEvents.push({\n  provider: 'openai',\n  model: openaiResponse.model || 'gpt-4o',\n  tokens_in: inputTokens,\n  tokens_out: outputTokens,\n  cost_usd: Math.round(cost * 1000000) / 1000000,\n  campaign_name: campaignName,\n  contact_email: leadEmail,\n  purpose: 'pain_points_analysis_research',\n  workflow_id: $workflow.id,\n  run_id: $execution.id,\n  metadata: {\n    workflow_type: 'Research',\n    total_tokens: totalTokens,\n    data_source: dataSource,\n    tracking_method: dataSource === 'api_exact' ? '100%_accurate_api' : 'estimate'\n  }\n});\n\nfor (const item of items) {\n  item.json._cost_events = costEvents;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        720
      ],
      "id": "b62e399c-7f76-4a6d-936c-4bccc6648ac7",
      "name": "💰 Track Pain Points - Research"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5808,
        800
      ],
      "id": "de0260fd-6910-43ff-8759-549b78cf7771",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4992,
        720
      ],
      "id": "3a94c558-7de8-47e3-9572-974ad9497989",
      "name": "Wait1",
      "webhookId": "8f2dbd90-8338-4197-bcef-ae6f6876b439"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5216,
        800
      ],
      "id": "eafe29d4-d9b9-4a24-bd5c-9b180add18de",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -5440,
        800
      ],
      "id": "3ed1cdeb-e041-4384-b503-cddaf363e387",
      "name": "Limit1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"choices\": [\n    {\n      \"message\": {\n        \"content\": {{ (\n          $json.message?.content\n          ?? $json.choices?.[0]?.message?.content\n          ?? ''\n        ).toJsonString() }}\n      }\n    }\n  ],\n  \"sources\": {{ ($json.cse_sources || []).toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        592
      ],
      "name": "Set (CSE → OpenAI shape)1",
      "id": "483f253b-e1b3-4166-b995-222b646dde0a"
    },
    {
      "parameters": {
        "jsCode": "const MAX=3;\nconst res = $json;\nconst itemsArr = (res.items || []).slice(0, MAX);\nconst sources = itemsArr.map((it, idx) => ({\n  rank: idx+1,\n  title: it.title || \"\",\n  link: it.link || \"\",\n  snippet: (it.snippet || it.htmlSnippet || \"\").replace(/\\s+/g,' ').trim()\n}));\n\n// build compact context text\nconst context = sources.map(s => `[#${s.rank}] ${s.title}\\n${s.link}\\n${s.snippet}`).join(\"\\n\\n\");\n\nreturn [{ json: { cse_sources: sources, cse_context: context }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        592
      ],
      "name": "Parse & Select Top Results1",
      "id": "023b7424-a988-4426-90dc-f876375a7637"
    },
    {
      "parameters": {
        "url": "={{ (() => {\n  const p = $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data || {};\n  const company = (p.company || '').trim();\n  const rawDomain = (p.company_domain || p.company_website || '').toString();\n  const host = rawDomain.replace(/^https?:\\/\\//i,'').replace(/^www\\./i,'').split('/')[0].trim();\n  const q = (company || host) ? (company + (host ? (' site:' + host) : '')) : company;\n\n  // Put YOUR real values here (correct order!)\n  const key = 'AIzaSyBk5UXFdaexZ0DsRAQRPcBIw2lr-J2BmAg';\n  const cx  = '66b3808ad62e941b1';\n\n  return 'https://www.googleapis.com/customsearch/v1'\n    + '?key=' + key\n    + '&cx='  + cx\n    + '&num=10'\n    + '&safe=active'\n    + '&q='   + encodeURIComponent(q || company || host || '');\n})() }}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        592
      ],
      "name": "Google CSE Search1",
      "id": "56c14c1b-ed3b-42da-889d-c92b6cb807ee"
    },
    {
      "parameters": {
        "content": "# Analysis\n- Summary \n- Similarities \n- Pain Points + Solutions\n",
        "height": 616,
        "width": 1404
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1536,
        528
      ],
      "typeVersion": 1,
      "id": "32825129-5135-497f-bad9-4820f89a9d20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53050079-f4f6-4e50-b778-d885a6125638",
              "name": "success",
              "value": "\"Research is now complete. Please check your email for the full report\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        784
      ],
      "id": "c56ec5f3-e016-46f3-bd10-c00015cc951a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8",
          "mode": "list",
          "cachedResultName": "3547 Leads - Ohio ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Ohio",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AGG05kKt9b-OAN3YGsZ-ZVDFv9fWxEjgWHDDBE2g_C8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $('Get Research Report').first().json.linkedin_url }}",
            "report_sent": "Yes"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_address",
              "displayName": "email_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_city",
              "displayName": "organization_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_country",
              "displayName": "organization_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_description",
              "displayName": "organization_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "founded_year",
              "displayName": "founded_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_linkedin_url",
              "displayName": "organization_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_size",
              "displayName": "organization_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_specialities",
              "displayName": "organization_specialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_state",
              "displayName": "organization_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization_website",
              "displayName": "organization_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "analyze",
              "displayName": "analyze",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "research_report",
              "displayName": "research_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_1_subject",
              "displayName": "email_1_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_1_body",
              "displayName": "email_1_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_2_body",
              "displayName": "email_2_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_3_subject",
              "displayName": "email_3_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_3_body",
              "displayName": "email_3_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_1_sent",
              "displayName": "email_1_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_2_sent",
              "displayName": "email_2_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_3_sent",
              "displayName": "email_3_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "report_sent",
              "displayName": "report_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_prep",
              "displayName": "email_prep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        816,
        784
      ],
      "id": "0beee512-d8da-4d60-bcb1-5c7aae9f0716",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2EUpgH0WFkM3Lr6E",
          "name": "Nishchith Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Nishchith.manjunatha@gmail.com",
        "subject": "={{ ( $node[\"Scrape Profiles + Posts - Relevance AI1\"].json?.linkedin_profile_details_data?.full_name || $node[\"Scrape Profiles + Posts - Relevance AI1\"].json?.output?.linkedin_profile_details_data?.full_name || 'Lead' ) }} Research Report",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        320,
        720
      ],
      "id": "94c2a203-c43a-48b2-a8c4-ee5e50eee188",
      "name": "Email Report1",
      "webhookId": "791dda4d-fc00-4865-9386-347769f4586b",
      "credentials": {
        "gmailOAuth2": {
          "id": "zfHBUnz62UkbN9cm",
          "name": "Upion Gmail"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Client Research Report</title>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        margin: 20px;\n        line-height: 1.6;\n        color: #333;\n      }\n      h1, h2, h3 { color: #222; }\n      .section { margin-bottom: 40px; }\n      .profile-details p { margin: 5px 0; }\n      table {\n        width: 100%; border-collapse: collapse; margin-top: 10px;\n      }\n      th, td {\n        border: 1px solid #ddd; padding: 8px; vertical-align: top;\n      }\n      th { background-color: #f2f2f2; }\n      .card {\n        border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; border-radius: 4px;\n      }\n      a { color: #1a0dab; text-decoration: none; }\n      a:hover { text-decoration: underline; }\n      /* Header images */\n      .header-images { display: flex; margin-bottom: 20px; gap: 16px; }\n      .header-images img { width: 50%; height: auto; max-width: 300px; object-fit: contain; }\n    </style>\n  </head>\n  <body>\n    <!-- Header Images -->\n    <div class=\"header-images\">\n      <img\n        src=\"{{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.profile_image_url\n              || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.profile_image_url\n              || '' }}\"\n        alt=\"Profile Picture\">\n      <img\n        src=\"{{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.company_logo_url\n              || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.company_logo_url\n              || '' }}\"\n        alt=\"Company Logo\">\n    </div>\n\n    <!-- Analysis & Key Facts -->\n    <div class=\"section\" id=\"analysis\">\n      <h1>Analysis & Key Facts</h1>\n\n      {{ $('Person + Company Profile1').last()?.json?.message?.content\n         || $('Person + Company Profile1').last()?.json?.choices?.[0]?.message?.content\n         || '' }}\n\n      {{ $('Similarities1').last()?.json?.message?.content\n         || $('Similarities1').last()?.json?.choices?.[0]?.message?.content\n         || '' }}\n\n      {{ $('Pain Points + Solutions1').last()?.json?.message?.content\n         || $('Pain Points + Solutions1').last()?.json?.choices?.[0]?.message?.content\n         || '' }}\n    </div>\n\n    <!-- Detailed Research Report -->\n    <div class=\"section\" id=\"research-report\">\n      <h1>Research Report</h1>\n\n      <!-- LinkedIn Profile Details -->\n      <div id=\"linkedin-profile\" class=\"profile-details\">\n        <h2>LinkedIn Profile Details</h2>\n\n        <p><strong>Name:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.full_name\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.full_name\n             || '—' }}\n        </p>\n\n        <p><strong>Headline:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.headline\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.headline\n             || '—' }}\n        </p>\n\n        <p><strong>Location:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.location\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.location\n             || '—' }}\n        </p>\n\n        <p><strong>About:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.about\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.about\n             || '—' }}\n        </p>\n\n        <p><strong>City:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.city\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.city\n             || '—' }}\n        </p>\n\n        <p><strong>Country:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.country\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.country\n             || '—' }}\n        </p>\n\n        <p><strong>Job Title:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.job_title\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.job_title\n             || '—' }}\n        </p>\n\n        <p><strong>Company:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.company\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.company\n             || '—' }}\n        </p>\n\n        <p><strong>Company Description:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.company_description\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.company_description\n             || '—' }}\n        </p>\n\n        <p>\n          <strong>Company Website:</strong>\n          {{ (() => {\n               const p = $('Scrape Profiles + Posts - Relevance AI1').last()?.json;\n               const url = p?.linkedin_profile_details_data?.company_website\n                           || p?.output?.linkedin_profile_details_data?.company_website\n                           || '';\n               return url\n                 ? `<a href=\"${url}\" target=\"_blank\">${url}</a>`\n                 : '—';\n             })() }}\n        </p>\n\n        <p><strong>Industry:</strong>\n          {{ $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data?.company_industry\n             || $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data?.company_industry\n             || '—' }}\n        </p>\n\n        <p>\n          <strong>LinkedIn URL:</strong>\n          {{ (() => {\n               const p = $('Scrape Profiles + Posts - Relevance AI1').last()?.json;\n               const url = p?.linkedin_profile_details_data?.linkedin_url\n                           || p?.output?.linkedin_profile_details_data?.linkedin_url\n                           || '';\n               return url\n                 ? `<a href=\"${url}\" target=\"_blank\">${url}</a>`\n                 : '—';\n             })() }}\n        </p>\n      </div>\n\n      <!-- Education -->\n      <div id=\"education\">\n        <h2>Education</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>School</th>\n              <th>Degree</th>\n              <th>Field of Study</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $('Education1').last()?.json?.educationTable || '' }}\n          </tbody>\n        </table>\n      </div>\n\n      <!-- Experience -->\n      <div id=\"experience\">\n        <h2>Experience</h2>\n        <table>\n          <thead>\n            <tr>\n              <th>Company</th>\n              <th>Title</th>\n              <th>Date Range</th>\n              <th>Location</th>\n            </tr>\n          </thead>\n          <tbody>\n            {{ $('Experiences1').last()?.json?.experiencesTable || '' }}\n          </tbody>\n        </table>\n      </div>\n\n      <!-- Recent LinkedIn Posts -->\n      <div id=\"linkedin-posts\">\n        <h2>Recent LinkedIn Posts</h2>\n        {{ $('Posts1').last()?.json?.postsHTML || 'No recent posts found' }}\n      </div>\n\n      <!-- Google Research Analysis -->\n      <div id=\"google-research\">\n        <h2>Google Research Analysis</h2>\n        <p>{{ \n          $('Set (CSE → OpenAI shape)1').last()?.json?.choices?.[0]?.message?.content\n          || $('Set (CSE → OpenAI shape)1').last()?.json?.message?.content\n          || $('Summarize (O3-mini)1').last()?.json?.message?.content\n          || $('Summarize (O3-mini)1').last()?.json?.choices?.[0]?.message?.content\n          || 'No web summary available.'\n        }}</p>\n      </div>\n\n \n    <!-- Google Reviews -->\n    <div id=\"google-reviews\">\n      <h2>Google Reviews (1–3★)</h2>\n       {{$json.reviewsHTML || 'No recent 1–3★ Google reviews found.'}}\n    </div>\n\n      <!-- Citations -->\n      <div id=\"citations\">\n        <h2>Citations</h2>\n        {{ $('Citations1').last()?.json?.citationsHTML || '' }}\n      </div>\n    </div>\n  </body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -16,
        720
      ],
      "id": "6dab4f1b-1438-4bc5-a033-9a2ca5c3ecd9",
      "name": "Create HTML Report1"
    },
    {
      "parameters": {
        "content": "# Email Report\n",
        "height": 632,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        512
      ],
      "typeVersion": 1,
      "id": "f64732dd-bda7-4d5e-96df-db48f0bc0f34",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Create Report\n",
        "height": 616,
        "width": 268
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        528
      ],
      "typeVersion": 1,
      "id": "e77dc0dc-1c2d-4abf-841a-d736026b76f7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"chatgpt-4o-latest\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"You are part of the business development team at Smartie Agents. Smartie Agents is an AI Automation agency that provides the following services:\\n- AI Receptionist: 24/7 call handling, lead capture, and appointment booking.\\n- CRM Automation: Automating your entire sales pipeline, follow-ups, and reminders.\\n- Website Chatbots: Intelligent bots for websites to engage and convert visitors.\\n- Social Media Handling: Automated responses and lead capture across Facebook, Instagram, WhatsApp, and SMS.\\n\\nSmartie Agents' AI consultants are the first point of contact for a new lead. When a lead is interested in AI automation solutions, they book a free call with Smartie Agents' consultants. The consultants are responsible for exploring the highest ROI opportunities for automation.\\n\\nOnce a call is booked, your team researches the lead in depth so the consultants can read through it in preparation for the consultation.\\n\\nAs part of the business development team you are provided with the following research:\\n- LinkedIn Profile: The lead's bio, experiences, education, and company description.\\n- LinkedIn Posts: The lead's posts over the past 30 days.\\n- Company Google Search: Public info from Google search and the company's website.\\n- Reviews: The most recent bad reviews the lead's company received on TrustPilot.\\n\\nYour job is to analyse the research and extract:\\n- Pain Points: Identify the biggest issues the company could be facing.\\n- Solutions to Pain Points: Propose how Smartie Agents can solve those problems with its services.\\n- Highest ROI Automation Opportunities: List the top 5 realistic but high-impact automations Smartie Agents can deliver, ranked by ROI.\\n\\nThe insights you extract must be in HTML format as they will be going in the middle of a HTML document. \\n\\nPlease use the following output format: \\n\\nOpportunities (Heading 1)\\n\\nPain Points and Solutions: (Heading 2)\\n[Table with 3 columns: \\n1. Pain Point: Explains the pain point they're facing. \\n2. Evidence: Explains why we think this is the case. \\n3. Solution: Explains the solution to the pain point by Smartie Agents.\\nEach row is a new pain point.]\\n\\nAutomation Opportunities: (Heading 2)\\n[5 Highest ROI automation opportunities for the leads company sorted with the best solution at the top. This must be in dotpoint format:\\n- Opportunity#1 Name: Details\\n- Opportunity#2 Name: Details\\n...\\n\\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document.\\n\\nSomeone just booked a call. Here's the research your team found. Create the output as per the above requirements: \\n\\n\\nLinkedIn Profile Scraped Summary in HTML format: \\n\" + ($('Person + Company Profile1').last().json?.choices?.[0]?.message?.content || '').replace(/\\r?\\n/g,'<br>') + \"\\n\\nWeb Research Results for Leads Company: \\nRecent Bad Reviews on TrustPilot for Leads Company in HTML format: \\n\" + ($('Reviews1').last().json?.reviewsHTML || 'No reviews found') + \"\\n(if there is no reviews then just create the pain points by considering the leads company and job title)\"\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        720
      ],
      "name": "Pain Points + Solutions1",
      "id": "86e9ed85-6896-4243-936f-07c0160b25df",
      "credentials": {
        "openAiApi": {
          "id": "EzDErZcUtMKUzyRO",
          "name": "Smartie Agents OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"chatgpt-4o-latest\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"You are part of the business development team at Smartie Agents, which is an AI Agency.\\n\\nWhen new leads book a consultation with Smartie Agents, your team researches the leads and provides the research + extracted insights to the consultants so they can read it prior to the consult.\\n\\nAs an ice breaker for each call, [YOUR-NAME], who is Smartie Agents' AI consultant, likes to point to a similarity between himself and the lead. This way the lead feels more comfortable talking to [YOUR-NAME] as a friend, rather than a stranger.\\n\\nTo find these similarities you must compare [YOUR-NAME]'s LinkedIn profile to the lead's LinkedIn profile. Look for any similarities you can find, including but not limited to education, experience, location, interests, and so on.\\n\\nYou might also not find any similarities. In this case then output No Similarities Found in the details section of your output. \\n\\nYour output must be in the following HTML format: \\n\\nSimilarities (heading 2)\\n[Details in dot points with one similarity on each dot point]\\n\\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document.\\n\\nThe Leads LinkedIn Profile: \\n\" + JSON.stringify($('Scrape Profiles + Posts - Relevance AI1').last().json.linkedin_profile_details_data || {}, null, 2) + \"\\n\\n[YOUR-NAME]'s LinkedIn Profile: \\n[INPUT YOUR DETAILS HERE - YOU CAN SCRAPE YOUR PROFILE USING THIS WORKFLOW AND HARDCODE THE INFO HERE]\"\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        720
      ],
      "name": "Similarities1",
      "id": "b2eebc68-cedc-48e8-84f4-978938cf31d2",
      "credentials": {
        "openAiApi": {
          "id": "EzDErZcUtMKUzyRO",
          "name": "Smartie Agents OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"chatgpt-4o-latest\",\n  messages: [\n    {\n      role: \"user\",\n      content: \"You are part of the business development team at Smartie Agents which is an AI Agency. \\n\\nWhen a new leads book a consultation with Smartie Agents, your team researches the leads and provides the research + extracted insights to the consultants so they can read it prior to the consult. \\n\\nYour job is to create the following sections from the research:\\n\\n- Personal Profile: The personal profile is a one paragraph summary of the person (lead) extracted from researching their LinkedIn profile.\\n- Interests: In this section you must identify a few of the leads interests from their most recent LinkedIn posts + their LinkedIn profile. \\n- Unique Facts: In this section you must extract at least 2 unique facts about the lead that tells them you've really put time to research who they are. These facts should be things that are unique to the lead and out of the ordinary.\\n- Company Profile: The company profile is a one paragraph summary of the company the person represents, extracted from researching their company LinkedIn profile and available information on the web. \\n\\nYour output must be in HTML, following this format: \\n\\nPerson Profile (Heading 2)\\n[Details]\\n\\nCompany Profile (Heading 2)\\n[Details]\\n\\nInterests (Heading 2)\\n[List of interests in dot point format]\\n\\nUnique Facts (Heading 2)\\n[List of unique facts in dot point format]\\n\\n\\n- Don't wrap the output in ```html``` since the output will go into the middle of another HTML document. Just make sure its in HTML language.\\n\\nCreate this output for the following research: \\n\\nLinkedIn Profile Research (in JSON format): \\n\" + JSON.stringify($('Scrape Profiles + Posts - Relevance AI1').last().json.linkedin_profile_details_data || {}, null, 2) + \"\\n\\nMost Recent LinkedIn Posts: \\n\" + JSON.stringify(($('Scrape Profiles + Posts - Relevance AI1').last().json.last_30_days_posts_transformed || []).slice(0, 10), null, 2) + \"\\n\\nWeb Research:\\n\" + ($('Summarize (O3-mini)1').last().json?.choices?.[0]?.message?.content || 'No web research available')\n    }\n  ]\n}) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        720
      ],
      "name": "Person + Company Profile1",
      "id": "c9d898c6-4721-4909-b332-1605de89270c",
      "credentials": {
        "openAiApi": {
          "id": "EzDErZcUtMKUzyRO",
          "name": "Smartie Agents OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\nconst sources = Array.isArray(input.sources) ? input.sources : [];\nlet html = '<ul>';\nsources.forEach(s => {\n  const t = s.title || s.link || 'Source';\n  const u = s.link || '#';\n  html += `<li><a href=\"${u}\" target=\"_blank\" rel=\"noopener\">${t}</a></li>`;\n});\nhtml += '</ul>';\nconst prev = items[0].json;\nreturn [{ json: { ...prev, citationsHTML: html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        720
      ],
      "id": "d958a1f1-d1a4-4943-8e82-f27a5604171d",
      "name": "Citations1"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI1\"].json;\n\nif (!input || !input.linkedin_profile_details_data) {\n  return [{ json: { postsHTML: '<p>No posts data available</p>' } }];\n}\n\nconst posts = (input.output && input.output.last_30_days_posts_transformed) \n  || input.last_30_days_posts_transformed \n  || [];\n\nlet postsHTML = '';\nif (Array.isArray(posts) && posts.length > 0) {\n  posts.forEach(post => {\n    postsHTML += `<div class=\"linkedin-post\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">\n      <p>${post.user_post || ''}</p>\n      <p><em>Posted on: ${post.posted || ''}</em></p>\n    </div>`;\n  });\n} else {\n  postsHTML = '<p>No recent posts found</p>';\n}\n\nconst prev = items[0].json;\nreturn [{ json: { ...prev, postsHTML } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3872,
        720
      ],
      "id": "dbecdcb3-057f-47e2-bdb6-7f42dc27b015",
      "name": "Posts1"
    },
    {
      "parameters": {
        "jsCode": "// Expect Apify output fields: reviews / reviewsAll / userReviews\nconst list = (items || []).map(i => i.json).flatMap(j => Array.isArray(j) ? j : [j]);\nconst all = list.flatMap(j => j.reviews || j.reviewsAll || j.userReviews || []);\n\nconst low = [];\nfor (const r of all) {\n  const rating = Number(r.rating || r.stars || r.score);\n  if (rating && rating <= 3) {\n    low.push(r);\n    if (low.length === 5) break;\n  }\n}\n\nlet reviewsHTML = '';\nfor (const r of low) {\n  const rating = r.rating ?? r.stars ?? r.score;\n  const dateRaw = r.publishAt || r.time || r.date || '';\n  const text = String(r.text || r.reviewText || r.comment || '').trim();\n  const author = String(r.authorName || r.userName || '');\n  reviewsHTML += '<div class=\"review-card\" style=\"border:1px solid #ddd; padding:10px; margin-bottom:10px;\">';\n  if (author) reviewsHTML += `<h3>${author}</h3>`;\n  if (rating != null) reviewsHTML += `<p><strong>Rating:</strong> ${rating}</p>`;\n  if (dateRaw) reviewsHTML += `<p><strong>Date:</strong> ${dateRaw}</p>`;\n  if (text) reviewsHTML += `<p>${text}</p>`;\n  reviewsHTML += '</div>';\n}\n\nif (!reviewsHTML) {\n  reviewsHTML = 'No recent 1–3★ Google reviews found.';\n}\n\nreturn [{ json: { reviewsHTML } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        800
      ],
      "id": "46391fdc-5370-44a3-8e22-ac8a16ec11f1",
      "name": "Reviews1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI1\"].json;\nif (!input || !input.linkedin_profile_details_data) {\n  return [{ json: { educationTable: '<tr><td colspan=\"3\">No education data available</td></tr>' } }];\n}\nconst educations = input.linkedin_profile_details_data.educations || [];\nlet educationRows = '';\neducations.forEach(edu => {\n  educationRows += `<tr>\n    <td>${edu.school || ''}</td>\n    <td>${edu.degree || ''}</td>\n    <td>${edu.field_of_study || ''}</td>\n  </tr>`;\n});\nif (!educationRows) educationRows = '<tr><td colspan=\"3\">No education found</td></tr>';\nconst prev = items[0].json;\nreturn [{ json: { ...prev, educationTable: educationRows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        720
      ],
      "id": "2912a515-0170-4260-8e9b-213bda38e2c7",
      "name": "Education1"
    },
    {
      "parameters": {
        "jsCode": "const input = $node[\"Scrape Profiles + Posts - Relevance AI1\"].json;\nif (!input || !input.linkedin_profile_details_data) {\n  return [{ json: { experiencesTable: '<tr><td colspan=\"4\">No experience data available</td></tr>' } }];\n}\nconst experiences = input.linkedin_profile_details_data.experiences || [];\nlet htmlRows = '';\nexperiences.forEach(exp => {\n  htmlRows += `<tr>\n    <td>${exp.company || ''}</td>\n    <td>${exp.title || ''}</td>\n    <td>${exp.date_range || ''}</td>\n    <td>${exp.location || ''}</td>\n  </tr>`;\n});\nif (!htmlRows) htmlRows = '<tr><td colspan=\"4\">No experiences found</td></tr>';\nconst prev = items[0].json;\nreturn [{ json: { ...prev, experiencesTable: htmlRows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        720
      ],
      "id": "651e7237-4e86-4e19-a73a-2f20853312cf",
      "name": "Experiences1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-bcbe5a.stack.tryrelevance.com/latest/studios/24a29cfb-bd8c-4b2f-a45b-58b00f1a8e91/trigger_webhook?project=9eefb509-a6c5-4a45-8e8f-f971816b99f6",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9eefb509-a6c5-4a45-8e8f-f971816b99f6:sk-OTljMWM3M2ItZjQ2My00ZTk0LTg2YzktOTNmODIxYjlhM2Zl"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"linkedin_url\": \"{{ $json[\"linkedin_url\"] }}\",\n  \"last_x_days\": 30\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4544,
        720
      ],
      "id": "e8d0d353-7236-4150-ba77-21d69dcfe4df",
      "name": "Scrape Profiles + Posts - Relevance AI1",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "477ab442-38eb-4037-90fc-864ae87d495a",
              "leftValue": "={{ $json.gmaps_query && $json.gmaps_query.length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        816
      ],
      "id": "c1ff307e-71a4-469d-9ac9-7b351e0d2d90",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"emptyReviews\": true,\n  \"reviewsHTML\": \"No recent 1–3 stars Google reviews found.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        1008
      ],
      "id": "1d2281b3-6a1a-4b8a-8c3f-51219d91bc2b",
      "name": "No Reviews1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"o3-mini\",\n  max_completion_tokens: 700,\n  messages: [\n    {\n      role: \"user\",\n      content: \"You are a careful company researcher. Using the short web snippets below, produce a concise, factual brief about the prospect's company: what they do, core products/services, who they serve, and any **recent** notable items (only if clearly evidenced by the snippets). If a detail is uncertain, state it as uncertain or omit it. Finish with a bullet list of sources as \\\"Title — URL\\\".\\n\\nCompany:\\n\" + (($('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.company || '').trim() || '(unknown)') + \"\\nDomain:\\n\" + (($('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.company_domain || $('Scrape Profiles + Posts - Relevance AI1').item.json.linkedin_profile_details_data.company_website || '(unknown)').replace('https://','').replace('http://','').replace('www.','').split('/')[0]) + \"\\nSnippets:\\n\" + $json.cse_context\n    }\n  ]\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2544,
        592
      ],
      "name": "Summarize (O3-mini)1",
      "id": "5cb6806a-b3e2-4358-8ec8-035e63769d68",
      "credentials": {
        "openAiApi": {
          "id": "EzDErZcUtMKUzyRO",
          "name": "Smartie Agents OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cold-email-dashboard.vercel.app/api/cost-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-token",
              "value": "6de5a8d03ad6348f4110782372a82f1bb7c6ef43a8ce8810bf0459e73abaeb61"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('💰 Track Pain Points - Research').first().json._cost_events || []) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        576
      ],
      "id": "519186a5-0af0-46c1-9e6f-a4494bb437af",
      "name": "Send Cost Events to Dashboard"
    },
    {
      "parameters": {
        "jsCode": "// ROBUST GOOGLE MAPS QUERY BUILDER\n// Multi-level fallback to ALWAYS produce a valid query\n// ============================================\n\nreturn items.map(item => {\n  // Get LinkedIn profile data - try multiple access paths\n  const linkedInData = \n    $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.linkedin_profile_details_data ||\n    $('Scrape Profiles + Posts - Relevance AI1').last()?.json?.output?.linkedin_profile_details_data ||\n    item.json?.linkedin_profile_details_data ||\n    {};\n\n  // Also check original lead data from the sheet/database\n  const leadData = item.json || {};\n\n  // Extract all possible location/company fields\n  const company = String(\n    leadData.company || \n    leadData.organization_name || \n    linkedInData.company || \n    ''\n  ).trim();\n\n  const city = String(\n    leadData.city || \n    leadData.organization_city || \n    linkedInData.city || \n    ''\n  ).trim();\n\n  const state = String(\n    leadData.state || \n    leadData.organization_state || \n    leadData.company_state || \n    linkedInData.company_state ||\n    linkedInData.state ||\n    ''\n  ).trim();\n\n  const country = String(\n    leadData.country || \n    leadData.organization_country || \n    linkedInData.country || \n    'United States'\n  ).trim();\n\n  // Extract domain from website URL\n  const websiteRaw = String(\n    leadData.organization_website || \n    linkedInData.company_website || \n    linkedInData.company_domain ||\n    ''\n  ).trim();\n  \n  const domain = websiteRaw\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .split('/')[0]\n    .trim();\n\n  // Build query using fallback strategy\n  let gmaps_query = '';\n  let queryStrategy = '';\n\n  // Strategy 1: Company + City + State (most precise)\n  if (company && city && state) {\n    gmaps_query = `${company} ${city} ${state}`;\n    queryStrategy = 'company_city_state';\n  }\n  // Strategy 2: Company + State only\n  else if (company && state) {\n    gmaps_query = `${company} ${state}`;\n    queryStrategy = 'company_state';\n  }\n  // Strategy 3: Company + City only\n  else if (company && city) {\n    gmaps_query = `${company} ${city}`;\n    queryStrategy = 'company_city';\n  }\n  // Strategy 4: Company + Country\n  else if (company && country) {\n    gmaps_query = `${company} ${country}`;\n    queryStrategy = 'company_country';\n  }\n  // Strategy 5: Company name only\n  else if (company) {\n    gmaps_query = company;\n    queryStrategy = 'company_only';\n  }\n  // Strategy 6: Domain name (last resort)\n  else if (domain) {\n    // Convert domain to company-like name: \"acme.com\" -> \"acme\"\n    const domainName = domain.split('.')[0];\n    gmaps_query = domainName;\n    queryStrategy = 'domain_fallback';\n  }\n  // Strategy 7: If all else fails, use a placeholder that won't crash\n  else {\n    gmaps_query = '';\n    queryStrategy = 'no_data_available';\n  }\n\n  // Log for debugging (visible in n8n execution log)\n  console.log(`[Query Builder] Strategy: ${queryStrategy}, Query: \"${gmaps_query}\"`);\n\n  return {\n    json: {\n      ...item.json,\n      gmaps_query,\n      query_strategy: queryStrategy,\n      company_name: company,\n      // Preserve timezone fields if they exist\n      'Time Zone': item.json['Time Zone'] ?? 'T1',\n      Timezone: item.json.Timezone ?? 'America/Los_Angeles',\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3184,
        816
      ],
      "id": "c859bfa9-ab69-41f3-8655-38945b43f920",
      "name": "Build Google Maps query"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/compass~google-maps-reviews-scraper/run-sync-get-dataset-items?token=apify_api_LYrSpTfFDNcedzKiMq0JiTxKLU4jgu2P0iZN",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"search\": {{ $json.gmaps_query || ($json.company_name || '') }},\n  \"maxCrawledPlacesPerSearch\": 1,\n  \"includeReviews\": true,\n  \"reviewsMaxCount\": 50,\n  \"reviewsSort\": \"newest\"\n}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2736,
        800
      ],
      "id": "a6f59c21-5041-46d7-ba28-5a0780995f3c",
      "name": "Google Reviews (1-3)",
      "alwaysOutputData": true,
      "credentials": {
        "httpQueryAuth": {
          "id": "6DunH8n5TZY3tjwT",
          "name": "Query Auth account"
        },
        "httpHeaderAuth": {
          "id": "uNNf74d1EVpcGBgo",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1888,
        720
      ],
      "id": "599788bc-06ad-44c1-9eb5-0125596ea002",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_ohio",
          "mode": "list",
          "cachedResultName": "leads_ohio"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analyze": false,
            "email_1_sent": false,
            "email_2_sent": false,
            "email_3_sent": false,
            "replied": false,
            "opted_out": false,
            "email_prep": false,
            "report_sent": true,
            "linkedin_url": "={{ $('Get Research Report').first().json.linkedin_url }}"
          },
          "matchingColumns": [
            "linkedin_url"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_address",
              "displayName": "email_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_city",
              "displayName": "organization_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_country",
              "displayName": "organization_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_description",
              "displayName": "organization_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "founded_year",
              "displayName": "founded_year",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "organization_linkedin_url",
              "displayName": "organization_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_name",
              "displayName": "organization_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_size",
              "displayName": "organization_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_specialities",
              "displayName": "organization_specialities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_state",
              "displayName": "organization_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "organization_website",
              "displayName": "organization_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "analyze",
              "displayName": "analyze",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "research_report",
              "displayName": "research_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_subject",
              "displayName": "email_1_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_body",
              "displayName": "email_1_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_2_body",
              "displayName": "email_2_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_subject",
              "displayName": "email_3_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_body",
              "displayName": "email_3_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_1_sent",
              "displayName": "email_1_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_2_sent",
              "displayName": "email_2_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_3_sent",
              "displayName": "email_3_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "replied",
              "displayName": "replied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "email_prep",
              "displayName": "email_prep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "report_sent",
              "displayName": "report_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "email_norm",
              "displayName": "email_norm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        576
      ],
      "id": "338f3b22-9bb2-4602-9a24-4b02b04a643d",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "QKb5WqKXZ29v15Qk",
          "name": "Leads Ohio"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35a3d3c6-681a-4482-a248-4e2e454dbda9",
              "leftValue": "={{ $('Get Research Report').last.json.report_sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        768
      ],
      "id": "f5e0c1e3-451a-4c8b-91a7-627752ba0ab9",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Research Report\n- LinkedIn \n- Online \n- TrustPilot Reviews\n",
        "height": 600,
        "width": 4244
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5840,
        544
      ],
      "typeVersion": 1,
      "id": "6af12a37-a7b6-48f8-8caa-1cd65d809f6b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "leads_ohio",
          "mode": "list",
          "cachedResultName": "leads_ohio"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "report_sent",
              "condition": "IS NULL"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5632,
        800
      ],
      "id": "4b2175bd-0812-4d8c-86b5-649a3e691050",
      "name": "Get Research Report",
      "credentials": {
        "postgres": {
          "id": "QKb5WqKXZ29v15Qk",
          "name": "Leads Ohio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tracee-tabernacular-brandee.ngrok-free.dev/api/cost-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-webhook-token",
              "value": "6de5a8d03ad6348f4110782372a82f1bb7c6ef43a8ce8810bf0459e73abaeb61"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('💰 Track Pain Points - Research').first().json._cost_events || []) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        288
      ],
      "id": "71a68e09-3604-4c8f-99da-deb396d4ef37",
      "name": "Send Cost Events to Dashboard1"
    },
    {
      "parameters": {
        "url": "https://api-bcbe5a.stack.tryrelevance.com/latest/studios/run_history/list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page_size",
              "value": "1"
            },
            {
              "name": "filters",
              "value": "=[\n  {\n    \"filter_type\": \"exact_match\",\n    \"field\": \"project\",\n    \"condition\": \"==\",\n    \"condition_value\": \"9eefb509-a6c5-4a45-8e8f-f971816b99f6\"\n  },\n  {\n    \"filter_type\": \"exact_match\",\n    \"field\": \"studio_id\",\n    \"condition\": \"==\",\n    \"condition_value\": \"24a29cfb-bd8c-4b2f-a45b-58b00f1a8e91\"\n  }\n]"
            },
            {
              "name": "with_agent_details",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "9eefb509-a6c5-4a45-8e8f-f971816b99f6:sk-OTljMWM3M2ItZjQ2My00ZTk0LTg2YzktOTNmODIxYjlhM2Zl"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4320,
        720
      ],
      "id": "09a03005-b3e8-43b6-8101-2ae916952305",
      "name": "Fetch Relevance AI Run History1",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "💰 Init Cost Tracking": {
      "main": [
        [
          {
            "node": "Scrape Profiles + Posts - Relevance AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Relevance AI - Research": {
      "main": [
        [
          {
            "node": "Posts1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Google Maps query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Google CSE - Research": {
      "main": [
        [
          {
            "node": "Parse & Select Top Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Summarize Cost - Research": {
      "main": [
        [
          {
            "node": "Set (CSE → OpenAI shape)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Apify Cost - Research": {
      "main": [
        [
          {
            "node": "Reviews1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Person Profile - Research": {
      "main": [
        [
          {
            "node": "Similarities1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Similarities - Research": {
      "main": [
        [
          {
            "node": "Pain Points + Solutions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💰 Track Pain Points - Research": {
      "main": [
        [
          {
            "node": "Create HTML Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Research Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "💰 Init Cost Tracking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set (CSE → OpenAI shape)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Select Top Results1": {
      "main": [
        [
          {
            "node": "Summarize (O3-mini)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google CSE Search1": {
      "main": [
        [
          {
            "node": "💰 Track Google CSE - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Report1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HTML Report1": {
      "main": [
        [
          {
            "node": "Email Report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pain Points + Solutions1": {
      "main": [
        [
          {
            "node": "💰 Track Pain Points - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Similarities1": {
      "main": [
        [
          {
            "node": "💰 Track Similarities - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Person + Company Profile1": {
      "main": [
        [
          {
            "node": "💰 Track Person Profile - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Citations1": {
      "main": [
        [
          {
            "node": "Person + Company Profile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posts1": {
      "main": [
        [
          {
            "node": "Experiences1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reviews1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Education1": {
      "main": [
        [
          {
            "node": "Google CSE Search1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Experiences1": {
      "main": [
        [
          {
            "node": "Education1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Profiles + Posts - Relevance AI1": {
      "main": [
        [
          {
            "node": "Fetch Relevance AI Run History1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Google Reviews (1-3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reviews1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Reviews1": {
      "main": [
        [
          {
            "node": "Reviews1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize (O3-mini)1": {
      "main": [
        [
          {
            "node": "💰 Track Summarize Cost - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Cost Events to Dashboard": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Google Maps query": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Reviews (1-3)": {
      "main": [
        [
          {
            "node": "💰 Track Apify Cost - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Citations1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Send Cost Events to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Research Report": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Relevance AI Run History1": {
      "main": [
        [
          {
            "node": "💰 Track Relevance AI - Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Los_Angeles",
    "timeSavedPerExecution": 25
  },
  "versionId": "5c0c19ef-8ed8-40c5-8df6-20704b0727dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "51thzzt7CMwhtYA6",
  "tags": [
    {
      "updatedAt": "2025-09-27T07:54:51.546Z",
      "createdAt": "2025-09-27T07:54:51.546Z",
      "id": "r8CZ5Y6mZ7dctfjE",
      "name": "Cold Email"
    }
  ]
}